@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Pacifico&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(168, 232, 232);
}

#container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    margin-top: 8rem;
    font-size: 8rem;
    font-weight: bolder;
}



#d1,
#d2,
#d3,
#d4,
#d5,
#d6,
#d7 {
    margin: 3rem;
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    font-size: 120px;
    color: #c86885;
    text-align: center;
    border-radius: 4rem;
    padding-bottom: 6rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
}


/*   ________________________*/

#play,
#stop,
#pause {
    display: flex;
    align-items: center;
    color: rgb(69, 222, 14);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 2rem;

}

#stop {
    color: red;
    background-color: black;
}

#pause {
    color: rgb(216, 239, 63);
    background-color: black;
}



#buttonContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}